.boxContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 16px;
  margin-top: 16px;
  border-radius: 4px;
}
.default {
  background-color: var(--color-black-300);
}
.empty {
  border: 1px dashed var(--color-black-300);
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 100%;
  min-height: 268px;
  border-radius: 4px;
  background-color: var(--color-black-300);
}
