.pageBackground {
  width: 100%;
  min-height: calc(100vh - 60px); /* GNB 높이를 뺀 나머지 꽉 채우기 */
  background-color: var(--color-black-400, #131313);

  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.contentWrapper {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
