.top {
  display: flex;
  align-items: center;
  gap: 266px;
}

.top-right {
  display: flex;
  width: 448px;
  height: 32px;
  padding-left: 416px;
  justify-content: flex-end;
  align-items: center;
}

.top-text {
  width: 150px;

  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.center {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center-text {
  width: 150px;

  color: #fff;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.fail-text {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.buttonSize {
  margin: 32px auto 0px;
  width: 194px;
}

input {
  background: transparent;
}

button {
  background: transparent;
  border: none;
}
