/* 공통 스타일 */
.input-text {
  width: 100%;
  height: 48px;
  max-width: 448px;
  padding: 16px 20px;
  box-sizing: border-box;
  align-items: center;

  outline: none;
  border-radius: 10px;
  border: 1px solid var(--gray-gray_200, #747474);
}
.input-text:focus {
  color: #fff;
  border: 1px solid #fff;
}

.password-wrapper {
  width: 100%;
  max-width: 448px;
  position: relative;
  display: flex;
  align-items: center;
}

.input-password {
  composes: input-text;
  width: 100%;
  padding-right: 40px;
}

.icon-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}
.error {
  color: #c41013;
}
.input-error {
  border-color: #c41013;
}
