/* 드롭 다운 */
.dropdownList {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: var(--color-black-400);
  border: 1px solid var(--color-gray-200);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

/* PC 기준 가로 너비 설정 */
.dropdownList.sort {
  width: 168px;
}
.dropdownList.startup {
  width: 264px;
}
.dropdownList.enterprise {
  width: 264px;
}
.dropdownList.rank {
  width: 168px;
}
.dropdownList.investment {
  width: 144px;
}

/* 드롭 다운 아이템 */
.dropdownItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-gray-100);
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid var(--color-gray-200);

  font-size: 14px;
  font-weight: 400;
  height: 40px;
}

/* 마지막 아이템은 밑줄 제거 */
.dropdownItem:last-child {
  border-bottom: none;
}

/* 마우스를 올렸을 때 효과 */
.dropdownItem:hover {
  background-color: #252525;
}

/* 선택된 아이템 스타일 */
.isSelected {
  background-color: #333333;
  font-weight: 700;
}

/* 모바일 기준 화면 크기가 375px 이하일 때 적용되는 스타일 */
@media (max-width: 375px) {
  .dropdownList.sort {
    width: 146px;
  }
  .dropdownList.startup {
    width: 241px;
  }
  .dropdownList.enterprise {
    width: 241px;
  }
  .dropdownList.rank {
    width: 146px;
  }

  /* 모바일 모드 아이템 높이 및 폰트 축소 */
  .dropdownItem {
    font-size: 12px;
    height: 38px;
  }
}
